html {
    font-size: 23px;
}

body {
    background-color:rgb(1, 164, 12);
    color: rgb(0, 0, 0);
}

a {
    color: rgb(0, 24, 244);
}

a:visited {
    color: rgb(0, 24, 244);
}

a:hover, a:active {
    color: #eee;
}