body {
    background-image: url(img/goa-clean-bg.png);
    
    color: #66ff00;
}

header {
    text-align: center; 
}

main {
    text-align: center;
    
}

footer {
    color: #ffffff;
    text-align: center;
}

a {
    color: blue;
}

p {
    font-weight: bold;
}

#My-Goal{
    list-style-position: inside;
    
}

#about-me {
    background-color: rgb(0, 255, 0);
    text-align: center;
    color: rgb(0, 0, 255);
}

#image {
    width: 60%;
    height: 35%;
}